* {
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	color: #022b52;
}

a,
a:hover,
a:focus,
a:active {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 3.0625em;
	padding: 0 0.4375em;
}

.hero {
	height: 23.1875em;
	padding: 0.4375em;
	background-size: cover;
	background-position: center;
}

.border-color {
	height: 22.5em;
	background: rgba(0, 0, 255, 0);
	border: solid 0.3125em;
}

.info-box {
	background-color: #ffffff;
	height: 22.625em;
	width: 22em;
	margin: -3.375em auto auto auto;
	padding: 1em;
}

.top {
	display: flex;
	align-items: center;
	justify-content: center;
}

.top>h1 {
	margin-right: 0.3em;
	font-size: 26px;
}

.info-box>h2 {
	font-size: 18px;
	text-align: center;
	margin: 0.8em 0;
}

.red-line {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1em 0;
}

.info-box>p {
	text-align: center;
	font-size: 12px;
	margin: 1em 0;
	line-height: 2;
}

.top>a {
	background-color: #f7f9fb;
	border-radius: 50%;
	display: flex;
	width: 1.375em;
	height: 1.375em;
	justify-content: center;
}

.top>a>svg {
	fill: #e70013;
	width: 0.8em;
}

.address {
	background-color: #f7f9fb;
	width: 100%;
	height: 2.75em;
	display: flex;
	align-items: center;
	margin-bottom: 1em;
}

.address>svg {
	width: 0.8em;
	fill: #e70013;
	margin: 0 0.6em;
}

.address>p {
	font-weight: bold;
	font-size: 12px;
}

.maps>img {
	width: 100%;
	height: 100%;
}

footer {
	height: 5em;
	width: 100%;
	background-color: #e70013;
	margin-top: auto;
}

nav {
	height: 100%;
	display: flex;
}

ul {
	display: flex;
	justify-content: space-around;
	width: 100%;
	align-items: center;
	margin: auto;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	padding: 0 4em;
}

li>p {
	font-size: 12px;
	color: #ffffff;
}

li>svg {
	width: 1.26125em;
	fill: #ffffff;
	margin: 0 auto 0.5em 0;
}