* {
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	color: #022b52;
}

a,
a:hover,
a:focus,
a:active {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 3.0625em;
	padding: 0 0.4375em;
}
main {
	text-align: center;
}
h1 {
	font-size: 26px;
	margin-top: 2em;
}
h2 {
	font-size: 18px;
	font-weight: normal;
	margin: 1em;
}
.red-line {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2em 0;
}
.list {
	margin: auto;
	background-color: #f7f9fb;
	width: 80%;
	height: 2.625em;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 1em;
	margin-bottom: 0.3em;
}
.list > p,
.list .left-side > p {
	font-size: 12px;
}
.list > .left-side {
	display: flex;
}
.list > .left-side > svg {
	width: 0.8em;
	height: 0.92875em;
	fill: #e70013;
	margin-right: 0.6em;
}
.copyright {
	font-size: 12px;
}
footer {
	height: 5em;
	width: 100%;
	background-color: #e70013;
	margin-top: auto;
}

nav {
	height: 100%;
	display: flex;
}

ul {
	display: flex;
	justify-content: space-around;
	width: 100%;
	align-items: center;
	margin: auto;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	padding: 0 4em;
}

li > p {
	font-size: 12px;
	color: #ffffff;
}

li > svg {
	width: 1.26125em;
	fill: #ffffff;
	margin: 0 auto 0.5em 0;
}
