* {
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	color: #022b52;
}

a,
a:hover,
a:focus,
a:active {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 3.0625em;
	padding: 0 0.4375em;
}

.hero {
	height: 23.1875em;
	padding: 0.4375em;
	background-size: cover;
	background-position: center;
	background-image: url('../img/filter-hero.png');
	border-color: #fde6b2;
}

.hero,
main {
	flex: 1;
}

.border-color {
	height: 22.5em;
	background: rgba(0, 0, 255, 0);
	border: solid 0.3125em;
}

form {
	background-color: #fde6b2;
	height: 22.625em;
	width: 22em;
	margin: -3.375em auto auto auto;
	/* padding: 1em; */
}

form {
	padding: 1em;
}

form>h2 {
	font-weight: normal;
	text-align: center;
	font-size: 20px;
	margin-bottom: 0.5em;
}

form>p {
	text-align: center;
	font-size: 12px;
	margin-bottom: 1em;
}

input[type='text'] {
	width: 100%;
	height: 3em;
	border: none;
	padding: 0.3em 0.625em;
	margin: 0.4em 0;
	box-sizing: border-box;
	border-radius: 0.2em;
}

select {
	background-color: #fff;
	width: 100%;
	height: 3em;
	border: none;
	padding: 0.3em 0.625em;
	margin: 0.4em 0;
	box-sizing: border-box;
	border-radius: 0.2em;
}

input[type='checkbox'] {
	margin: 0.5em 0.3em 0 0;
}

label {
	font-size: 14px;
}

form>input[type='submit'] {
	background-color: #082747;
	border: none;
	color: #ffffff;
	padding: 1em;
	width: 7.5em;
	margin-top: 0.8em;
}

footer {
	height: 5em;
	width: 100%;
	background-color: #e70013;
	margin-top: auto;
}

nav {
	height: 100%;
	display: flex;
}

ul {
	display: flex;
	justify-content: space-around;
	width: 100%;
	align-items: center;
	margin: auto;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	padding: 0 4em;
}

li>p {
	font-size: 12px;
	color: #ffffff;
}

li>svg {
	width: 1.26125em;
	fill: #ffffff;
	margin: 0 auto 0.5em 0;
}

/* Activity */